<div class="container-fluid">
  <h1 class="text-center">Juin</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table table-bordered table-hover">
          <thead>
            <tr>
              <th>Lundi</th>
              <th>Mardi</th>
              <th>Mercredi</th>
              <th>Jeudi</th>
              <th>Vendredi</th>
              <th>Samedi</th>
              <th>Dimanche</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">1</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">2</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">3</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">4</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">5</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">6</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">7</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">8</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">9</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">10</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">11</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">12</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">13</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">14</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">15</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">16</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">17</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">18</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">19</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">20</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">21</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">22</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">23</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">24</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">25</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">26</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">27</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">28</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">29</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">30</div></a></td>
              <td></a></td>
              <td></a></td>
              <td></a></td>
              <td></a></td>
              <td></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        
        <% @intervenant.each do |i| %>
          <span class="glyphicon glyphicon-console"  aria-hidden="true"></span> :
          <%= i.date %> :
          <%= i.nom %>
          <%= i.prenom %>,
          <%= i.email %>,
          <%= i.telephone %>,
          <%= i.description %>
          <hr>
        <% end %>
      </div>
    </div>
  <h1 class="text-center">Juillet</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table table-bordered table-hover">
          <thead>
            <tr>
              <th>Lundi</th>
              <th>Mardi</th>
              <th>Mercredi</th>
              <th>Jeudi</th>
              <th>Vendredi</th>
              <th>Samedi</th>
              <th>Dimanche</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">1</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">2</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">3</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">4</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">5</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">6</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">7</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">8</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">9</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">10</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">11</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">12</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">13</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">14</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">15</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">16</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">17</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">18</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">19</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">20</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">21</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">22</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">23</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">24</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">25</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">26</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">27</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">28</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">29</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">30</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">31</div></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        
        <% @intervenant.each do |i| %>

          <%= i.date %>
          <%= i.nom %>
          <%= i.prenom %>
          <%= i.email %>
          <%= i.telephone %>
          <%= i.description %>
        <% end %>
      </div>
    </div>
  <h1 class="text-center">Août</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table table-bordered table-hover">
          <thead>
            <tr>
              <th>Lundi</th>
              <th>Mardi</th>
              <th>Mercredi</th>
              <th>Jeudi</th>
              <th>Vendredi</th>
              <th>Samedi</th>
              <th>Dimanche</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">1</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">2</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">3</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">4</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">5</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">6</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">7</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">8</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">9</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">10</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">11</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">12</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">13</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">14</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">15</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">16</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">17</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">18</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">19</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">20</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">21</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">22</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">23</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">24</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">25</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">26</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">27</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">28</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">29</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">30</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">31</div></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        
        <% @intervenant.each do |i| %>

          <%= i.date %>
          <%= i.nom %>
          <%= i.prenom %>
          <%= i.email %>
          <%= i.telephone %>
          <%= i.description %>
        <% end %>
      </div>
    </div>
  <h1 class="text-center">Septembre</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table table-bordered table-hover">
          <thead>
            <tr>
              <th>Lundi</th>
              <th>Mardi</th>
              <th>Mercredi</th>
              <th>Jeudi</th>
              <th>Vendredi</th>
              <th>Samedi</th>
              <th>Dimanche</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">1</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">2</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">3</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">4</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">5</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">6</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">7</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">8</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">9</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">10</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">11</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">12</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">13</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">14</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">15</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">16</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">17</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">18</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">19</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">20</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">21</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">22</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">23</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">24</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">25</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">26</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">27</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">28</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">29</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">30</div></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
              <td class="text-center"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        
        <% @intervenant.each do |i| %>

          <%= i.date %>
          <%= i.nom %>
          <%= i.prenom %>
          <%= i.email %>
          <%= i.telephone %>
          <%= i.description %>
        <% end %>
      </div>
    </div>
  <h1 class="text-center">Octobre</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table table-bordered table-hover">
          <thead>
            <tr>
              <th>Lundi</th>
              <th>Mardi</th>
              <th>Mercredi</th>
              <th>Jeudi</th>
              <th>Vendredi</th>
              <th>Samedi</th>
              <th>Dimanche</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day"></div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">1</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">2</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">3</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">4</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">5</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">6</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">7</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">8</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">9</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">10</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">11</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">12</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">13</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">14</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">15</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">16</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">17</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">18</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">19</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">20</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">21</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">22</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">23</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">24</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">25</div></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href ="/reservation"><div class="day">26</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">27</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">28</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">29</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">30</div></a></td>
              <td class="text-center"><a href ="/reservation"><div class="day">31</div></a></td>
              <td class="text-center"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        
        <% @intervenant.each do |i| %>

          <%= i.date %>
          <%= i.nom %>
          <%= i.prenom %>
          <%= i.email %>
          <%= i.telephone %>
          <%= i.description %>
        <% end %>
      </div>
    </div>
</div>

