<% @m.each do |key,value| %>
  <% i = 1; j = 1; k = 1 %>
  <%= value[0] %>
  </br>
  <% @d.each do |d| %>
    <%= d %>
  <% end %>
  </br>
  <% while i < value[2] %>
    -
    <% i += 1; j += 1 %>
  <% end %>
  <% while k <= value[1] %>
    <a href="/reservation"><%= k %></a>
    <% j += 1; k += 1 %>
    <% if j % 7 == 1 %>
      </br>
    <% end %>
  <% end %>
  </br></br>
<% end %>


<% @intervenant.each do |i| %>

  <%= i.date %>
  <%= i.nom %>
  <%= i.prenom %>
  <%= i.email %>
  <%= i.telephone %>
  <%= i.description %>
  </br>
<% end %>

